html { 
    background: url(/image/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
 }
.content {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    padding: 30px;
    height: 450px;
    width: 260px ;
    margin: 100px 50px;
    border-radius: 10px;
}
.profile_image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
p {
    font-style: italic;
}
.content2 {
    color: whitesmoke;
    padding: 20px;
    height: 500px;
    width: 800px ;
    margin: -600px 550px;
    border-radius: 10px;
}